header{
    background-color: #AA96DA;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index:100;
}
nav{
    ul{
        margin: 0;
    
        li{
            padding: 10px 10px;
            display: inline-block; 
        }
    }
    
}