/*Celulares*/
@media(max-width:640px){
    #navbarNav{
        justify-content: center;
    }

    ul{
        display: flex;
        flex-direction: column;
    }

    #boton{
        grid-area: boton;
    }
    .padre-inicio{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        gap: 1px;
        margin: 10px;
        justify-items:center;
        align-items: center;
        grid-template-areas: 
        "texto-inicio"
        "trailer-inicio"
        "venta"
        "requerimientos";
    }
    .form-p{
        padding: 0 10px 0;
    }
  
    .formpadre{
        display: grid;
        width: 100%;
        margin: 10px;
        gap: 20px;
        grid-template-areas: 
            "nombreApellido"
            "email"
            "telefono"
            "motivo"
            "mensaje"
            "boton"
            ;
            
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr;
        ;
    }
    .requerimientos{
        display: flex;
        flex-direction: column;
        text-align: center;
        .requerimientos-lista{
            display: flex;
            flex-direction: column;
            
        }
    }
    .linea{
        width: 90%;
    }
    
}
  
/*Tablets*/
@media(min-width:640px) and (max-width: 992px){
    #navbarNav{
        justify-content: center;
    }

    ul{
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
  
    .form-p{
        padding: 0 0 0 0;
    }
  
    .padre-inicio{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        gap: 1px;
        margin: 0px;
        justify-items:center;
        align-items: center;
        grid-template-areas: 
        "texto-inicio"
        "trailer-inicio"
        "venta"
        "requerimientos";
    }

    .requerimientos-lista{
        display: flex;
        flex-direction: column;

    }
    .linea{
        width: 85%;
    }
  
  
}