.proximamente{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    
    .trailerSR2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}